# Data and models
datasets/CIFAR10/cifar-10/train/data.npy
datasets/CIFAR10/cifar-10/train/labels.npy
datasets/CIFAR10/cifar-10/test/data.npy
datasets/CIFAR10/cifar-10/test/labels.npy
datasets/CIFAR10/cifar-10/bad_nets
datasets/CIFAR10/cifar-10/cifar-10-batches-py
datasets/CIFAR10/cifar-10/cifar-10-python.tar.gz
models/efficientnet_v2_s_cifar10.pth
checkpoints/

# Environments
.venv/
venv/
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# macOS
.DS_Store